<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Books</title>
</head>
<body>
    <h1>All the books page</h1>
    <div class="border-2 w-fit p-3">
        {% for sub_books in books %}
        <div>
            <ul>{{sub_books[0]}}</ul>
            <ul>{{sub_books[2][4:16]}}</ul>
            <a class="bg-blue-500 rounded-md text-white text-xs px-2 py-1 " href="{{sub_books[3]}}">Download</a>
            <ul>{{sub_books[4]}}</ul>
            <ul>{{sub_books[5]}}</ul>
        </div>
        {% endfor %}
    </div>
    
</body>
</html>